%ubuntu-700 {
  font-family: "Ubuntu-Bold", sans-serif;
  font-weight: 700;
}
%ubuntu-500 {
  font-family: "Ubuntu-Medium", sans-serif;
  font-weight: 500;
}
%ubuntu-400 {
  font-family: "Ubuntu-Regular", sans-serif;
  font-weight: 400;
}
